.place__next-conteiner {
    display: flex;
  /*border:2px solid #d81435; /* красный рамка */
  }

@media screen and (max-width: 745px) {
  .place__next-conteiner {
    flex-direction:column; /* столбец */
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}