.place__title {
    width: 47%;/*460px*/
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    font-style:normal;
    text-align:left;  
    margin: 0;
   /* border:2px solid #d81435; /* красный рамка */
  }