.photo-grid {
    max-width: 95%;/*1184*/
    margin-top: 92px;
    margin-bottom: 92px;
    padding: 0;
    display: flex;
    justify-content:space-evenly; /*от краев равномерно */
    flex-wrap: wrap;
  }