.photo-grid {
    max-width: 96%;/*95%-1184*/
    margin-top: 92px;
    margin-bottom: 76px;/*92-16*/
    padding: 0;
    /*display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly; /*от краев равномерно */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 16px;/* calc((100% - 1180px) / 3);/*16px;*/
  }