/* ширина берется из экрана */
@media screen and (max-width: 1100px) {
    .photo-grid__item {
        width: 300px;
        height: 225px;
    }
    .place__image {
        width: 440px;
        height: 440px;
    }
    .places {
        width: 928px;/**/
    }
    .cover {
        width: 100%;/*1184px*/
        /*height: 100%;/*740px*/
    }
    .lead__image {
        width: 928px;
        height: 580px;
    }
    .lead {
        width: 928px;
    }
}

@media screen and (max-width: 960px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
    .photo-grid__item {
        width: 352px;
        height: 264px;
    }
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
    .place__image {
        width: 340px;
        height: 340px;
    }
    .places {
        width: 720px;/**/
    }
    .lead__caption {
        margin-left: 24px;
    }
    .lead__image {
        width: 100%;/*984px;*/
        height: 100%;/*615px;*/
    }    
    .lead {
        width: 100%;
    }
    .photo-grid {
        margin-top: 88px;
        margin-bottom: 72px;/*88-16*/
    }
    .place {
        margin-bottom: 73px;/*50 73 80 80*/
    }
    .cover {
        margin-top: 7px;/*90-73*/
    }
}

@media screen and (max-width: 750px) {
    .places {
        width: 320px;/**/
    }
    .place {
        margin-bottom: 50px;/*50 73 80 80*/
    }
    .place__image {
        width: 320px;
        height: 320px;
    }
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
    .place__row1 {
        flex-direction:column; /* столбец */
    }
    .place__row2 {
        flex-direction:column; /* столбец */
    }
    .place__paragraphs {
        width: 90%;/*320px*/
        margin-left: 0;
    }    
    .lead__title {
        width: 288px;/*288 720px*/    
        font-size: 40px;
        line-height: 44px;
    }
    .lead__subtitle {
        width: 288px;
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
    }
    .intro {
        width: 97%;/*320 720 690px*/
        margin-top: 64px;
    }
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 40px;
      }}

@media screen and (max-width: 450px) {
    .photo-grid__item {
        width: 288px;
        height: 216px;
    }
    .header__logo {
        width: 142px;
        height: 42px;
    }
    .header__lang-link {
        line-height: 20px;
        font-size: 18px;
    }
    .intro__title {
        width: 240px;/*320 720 690px*/
    }
}