.page {
    min-width: 1024px;
    max-width: 1280px;/*max-width*/
    margin: auto;
    display: flex;
    flex-direction:column; /* столбец */
    align-items: center;/* располагаем блоки по центру */
    font-family: "Istok Web";/*"Inter"*/
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color: #2A2C2F;
    color: #ffffff;
    /*border:3px solid #d81435; /* красный рамка */
  }
  
.header {
    width: 92%;/*1184px;*/
    margin-top: 28px;
    display: flex;
    flex-direction: row; /* строка */
    justify-content: space-between; /* расположить равномерно */
    background-color: #2A2C2F;
} 

.header__lang-link {
    margin-left: 18px;
    color: #ffffff;
    line-height: 28px;
    font-size: 24px;
    font-weight:normal;
  }

.header__lang-link_disable {
    text-decoration: none;
  }

.header__logo {
    width: 176px;
    height: 52px;
    background: url('./images/header_logo.png') no-repeat;   
    background-size: cover;
  }

  .lead {
    display: flex;
    flex-direction:column; /* столбец */
    align-items: center;/* располагаем блоки по центру */
    margin-top: 56px;
  }

  .lead__title {
    font-family: "Istok Web";/*"Inter"*/
    position: relative;
    display: flex;
    width: 720px;
    font-size: 96px;
    line-height: 100px;
    font-weight: bold;
    font-style:normal;
    text-align: center;
    margin-top: 0; /*без отступов */
    margin-bottom: 0;
    z-index: 1; /* накрывает для всех кто меньше */
    /*border:2px solid #d81435; /* красный рамка */
  }
  
.lead__subtitle {
    width: 640px;
    margin-top: 32px;
    /*height: 75px;/*75px текст отступает от верха блока*/
    font-size: 30px;
    line-height: 36px;
    font-weight:bold;
    font-style:normal;
    text-align: center;
    z-index: 1; /* накрывает для всех кто меньше */
    margin-top: 32px; /*без отступов */
    margin-bottom: 64px;
    /*border:2px solid #d81435; /* красный рамка */
  }

  .lead__image {
    /*display: flex;*/
    width: 984px;/*984*/
    height: 615px;/*615*/
    margin-top: 0; /*без отступов */
    margin-bottom: 0;
    padding: 0;
    z-index: 2; /* накрывает для всех кто меньше */
  /*  border:2px solid #d81435; /* красный рамка */
  }
  .stretch {
    width:100%;
    height:100%;
  }

.lead__caption {
    width: 984px;
    display: flex;
    flex-direction:column; /* столбец */
    align-items: flex-start;
    justify-content: flex-start;
    /*justify-self: start;*/
    font-size: 10px;
    line-height: 14px;
    font-weight:normal;
    text-align: center;
    z-index: 1; /* накрывает для всех кто меньше */
    margin-top: 8px; /*без отступов */
    margin-bottom: 0;
    padding: 0;
   /* border:2px solid #d81435; /* красный рамка */
  }

.no-marging-padding {
  margin: 0;
  padding: 0;
}

.intro {
  width: 690px;
  display: flex;
  flex-direction:column; /* столбец */
  margin-top: 92px;
}


.intro_title {
  font-size: 54px;
  line-height: 58px;
  font-weight: bold;
  font-style:normal;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.intro_text {
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  font-style:normal;
  text-align:left;  
  margin-top: 0;
  margin-bottom: 33px;
}

.intro_list {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  font-style:normal;
  text-align:left;  
  margin-top: 0;
  margin-bottom: 0;
}

.photo-grid {
  max-width: 95%;/*1184*/
  margin-top: 92px;
  padding: 0;
  display: flex;
  justify-content:space-evenly; /*от краев равномерно */
  flex-wrap: wrap;
}

.photo-grid__item {
  width: 284px;
  height:213px;
  margin: 0;
  margin-bottom: 16px;
 /* width:100%;
  height:100%;*/
}

.places {
  width: 984px;/*984*/
  margin-top: 76px;/*92-16=76*/
}

.place {
  width: 984px;/*984*/
  /*height: 660px;/*660*/
  display: flex;
  flex-direction:column; /* столбец */
  /*border:2px solid #d81435; /* красный рамка */
}
.place__row1 {
  display: flex;
  margin-bottom: 48px;
}
.place__row2 {
  display: flex;
  margin-bottom: 80px;
}

.place__title {
  width: 460px;/*460*/
  /*min-height: 76px;/*76*/
  font-size: 72px;
  line-height: 76px;
  font-weight: bold;
  font-style:normal;
  text-align:left;  
  margin: 0;
 /* border:2px solid #d81435; /* красный рамка */
}

.place__website {
  width: 456px;/*460*/
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;/*прижать к низу для колонки*/
 /* border:2px solid #d81435; /* красный рамка */
}

.place__website_url-heading {
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  font-style:normal;
  text-align:left;
  margin-top: 0;
  margin-bottom: 12px;  
}

.place__website_link {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-style:normal;
  text-align:left;
  color: #ffffff;  
}
.place__website_link:hover {
  opacity: .5;
}

.place__image {
  width: 460px;/*460*/
  height: 460px;/*460*/
  /*border:2px solid #d81435; /* красный рамка */
}

.place__paragraphs {
  width: 484px;/*460*/
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 29px;
  font-weight: normal;
  font-style:normal;
  text-align:left;
 /* border:2px solid #d81435; /* красный рамка */
}

.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  font-weight: normal;
  font-style:normal;
  text-align:left;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 26px;  
  /*border:2px solid #d81435; /* красный рамка */
}

.cover {
  margin-top: 12px;
  position: relative;
}

.cover__background {
  width: 1184px;/*1184*/
  height: 740px;/*740*/
  opacity: .7;
}
.cover__background:hover {
  opacity: .5;
}

.cover__title {
  width: 560px;/*560*/
  position: absolute;
  top: 245px;
  left: 312px;
  /*min-height: 76px;/*76*/
  font-size: 72px;
  line-height: 76px;
  font-weight: bold;
  font-style:normal;
  text-align:center;  
  margin: 0;
  z-index: 2; /* накрывает всех кто меньше */
  color: #ffffff;
  /*border:2px solid #d81435; /* красный рамка */
}

.cover__subtitle {
  width: 360px;/*360*/
  position: absolute;
  top: 429px;/*245+152+32*/
  left: 412px;
  /*min-height: 76px;/*76*/
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-style:normal;
  text-align:center;  
  margin: 0;
  z-index: 3; /* накрывает всех кто меньше */
  color: #ffffff;
  /*border:2px solid #d81435; /* красный рамка */
}

.footer {
  width: 92%;/*1184px*/
  display: flex;
  justify-content: space-between; /*от краев равномерно */
  padding-top: 90px;
  padding-bottom: 24px;
}

.footer__links {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__link {
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-style:normal;
  opacity: 1;
  text-decoration: none;
  color: #ffffff;
}
.footer__link:hover {
  opacity: .5;
}

.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style:normal;
}