.cover__subtitle {
    width: 360px;/*360*/
    /*position: absolute;*/
    /*top: 58%;/*245+152+32=429px*/
    /*left: 35%;/*412px*/
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style:normal;
    text-align:center;  
    margin: 0;
    z-index: 3; /* накрывает всех кто меньше */
    color: #ffffff;
    /*border:2px solid #d81435; /* красный рамка */
  }