.photo-grid__item {
    width: 284px;
    height:213px;
    margin: 0;/*для грида*/
    /*margin-top: 0;/* для флекса*/
    /*margin-left: 5px;/*для флекса*/
    /*margin-right: 5px;/*для флекса*/
    /*margin-bottom: 16px;/*для флекса*/
   /* width:100%;
    height:100%;*/
  }