.header {
    width: 92%; /*1184px;*/
    max-width: 1184px; /* 1280px */
    margin-top: 28px;
    display: flex;
    flex-direction: row; /* строка */
    justify-content: space-between; /* расположить равномерно */
}

@media screen and (max-width: 1100px) {
    .header {
        max-width: 928px;
    }
}
