.place__website_link {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style:normal;
    text-align:left;
    color: #ffffff;  
  }
  
  .place__website_link:hover {
    opacity: .5;
  }