.place__paragraphs {
    width: 50%;/*484px*/
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   /* border:2px solid #d81435; /* красный рамка */
  }