.lead__title {
    position: relative;
    display: flex;
    width: 720px;/*720px*/
    font-weight: 900;
    font-style:normal;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin-top: 0; /*без отступов */
    margin-bottom: 0;
    z-index: 1; /* накрывает для всех кто меньше */
    /*border:2px solid #d81435; /* красный рамка */
  }