.footer__links {
    display: flex;
    padding: 0;
    margin: 0;
  }

@media screen and (max-width: 745px) {
    .footer__links {
      flex-direction:column; /* столбец */
      justify-content: space-between; /*от краев равномерно */
  }
}