.cover__titles {
    position: absolute;
    top: 181px;/*195 от верха*/
    left: 302px;/*232 слева*/
    display: flex;
    flex-direction:column; /* столбец */
    align-items: center;/* по центру ширины */
    justify-content: center;/* по высоте*/
    /*border:2px solid #d81435; /* красный рамка */
}
