.lead__image {
    /*display: flex;*/
    width: 984px;/*984*/
    height: 615px;/*615*/
    margin-top: 0; /*без отступов */
    margin-bottom: 0;
    padding: 0;
    z-index: 2; /* накрывает для всех кто меньше */
  /*  border:2px solid #d81435; /* красный рамка */
  }