.cover {
  background: url("../../images/cover-trains.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 1184px; /* от родителя 1184px;*/
  min-height: 740px; /* от родителя 740px;*/
  display: flex; /* флекс - контейнер*/
  flex-direction: column; /* столбец */
  align-items: center; /* по центру ширины */
  justify-content: center; /* по высоте*/
  position: relative;
  margin-top: 12px; /*92-80*/
}

.cover::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(42,44,47,0.8);/*#000;/* #2a2c2f;*/
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.cover:hover::before {
  opacity: 0.5;
}

@media screen and (max-width: 1285px) {
  .cover {
      /*width: 100%;/**/
      width: 1024px; /*1024px 1184px*/
      min-height: 640px; /*640 740px*/
  }
}

@media screen and (max-width: 1023px) {/*1045px*/
  .cover {
      width: 100%;/**/
  }
}

@media screen and (max-width: 845px) {
  .cover {
      /*width: 768px; /*768 1024 1184px*/
      min-height: 640px; /*480 640 740px*/
  }
}

@media screen and (max-width: 787px) {
  .cover {
      /*width: 310px; /* 320 768 1024 1184px*/
      min-height: 480px; /*470 640 740px*/
  }
}

@media screen and (max-width: 450px) {
  .cover {
      /*width: 310px; /* 320 768 1024 1184px*/
      min-height: 200px; /*200 470 640 740px*/
  }
}
