.cover__background {
	display: block;
    background: url('../../../images/cover-trains.jpg') no-repeat;
    background-size: cover;
    opacity: 0.9;
    width: 1184px;/*1184px*/
    height: 740px;/*740px*/
    position: relative;/*relative;*/
}

.cover__background::before {
  display: block;/*block - обязательно*/
  height: 100%;
  width: 100%;
  content:"";
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.cover__background:hover::before {
    opacity: 1;
}