.cover__background {
  background: url('../../../images/cover-trains.jpg') no-repeat;
  background-size: cover;
  width: 1184px;/* от родителя 1184px;*/
  height: 740px;/* от родителя 740px;*/
  display: flex;
  flex-direction:column; /* столбец */
  align-items: center;/* по центру ширины */
  justify-content: center;/* по высоте*/
  text-decoration: none;
  opacity: .9;
  }
  
  .cover__background:hover {
    opacity: .5;
  }