.place {
    width: 100%;/*984*/
    /*height: 660px;/*660*/
    display: flex;
    flex-direction:column; /* столбец */
    margin-bottom: 80px;
    /*border:2px solid #d81435; /* красный рамка */
  }